<!DOCTYPE html>
html(lang='es')
  head
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/stylenavbar.css">
  body 
    <div class="navbar">
        <a href="/" class="active">Inicio</a>
        <a href="perfil" class="active">Perfil</a>
        <a href="perfil" class="active">Borrar</a>
        <a href="solicitarprestamo">Solicitar préstamo</a>
        <a href="login">Inicio Sesion</a>
        <a href="registro">Registrarse</a>
    </div>

